#shelter-data {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 10px;
	row-gap: 10px;
	padding: 20px;
	min-height: 100vh;
}
#main h1 {
	font-size: 40px;
	font-weight: 400;
	text-decoration: plum;
	color: plum;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
}
#main {
	background-color: gainsboro;
	margin: 0px;
}
