.data-card {
	display: flex;
	flex-direction: column;
	height: 33vh;
	width: 20vw;
	/* border: 1.7px solid rgba(187, 25, 49, 0.695); */
	border: 1.7px solid green;
	border-radius: 10px;
	align-items: center;
}
.data-image {
	height: 27vh;
	width: 20vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.data-card button {
	font-size: 24px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
	width: 20vw;
	background-color: #d4e8d6ca;
	/* background-color: #f0dbf4; */
	height: 6vh;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/* border: 1.7px solid rgba(187, 25, 49, 0.695); */
	border: 1.7px solid green;
}
