* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#body {
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	content: "";
	background-image: url("../../assets/homebg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	opacity: 0.7;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
}
#body button {
	position: relative;
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
	background-color: burlywood;
}

#main-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	height: 60vh;
	border: 3px solid rgb(235, 233, 233);
	border-radius: 40px;
	width: 110vh;
	margin-left: 300px;
}
.main {
	display: flex;
	justify-content: space-around;
	margin: 20px;
}
.main img {
	height: 350px;
	width: 350px;
	border-radius: 20%;
	margin: 0px 20px;
}
.main span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5px;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 100;
}

#stats {
	display: flex;
	margin: 20px;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px;
	height: 60vh;
	background-color: aliceblue;
}
#stats img {
	height: 380px;
	width: 350px;
	margin: 0px 20px;
}
#helping {
	display: flex;
	flex-direction: column;
	height: 30vh;
	align-items: center;
	margin: 20px;
	border: 2px solid gainsboro;
	justify-content: space-around;
	padding: 10px;
	width: 90vh;
	border-radius: 20px;
	margin-left: 350px;
}
#helping span {
	display: flex;
	flex-direction: column;
	justify-content: center;

	align-items: center;
}
#helping button {
	height: 35px;
	width: 90px;
	font-size: 20px;
	margin-bottom: 10px;
	background-color: rgb(211, 160, 99);
	border: 1px solid gainsboro;
}
#helping p {
	font-size: 20px;
	font: sans-serif;
}
